 @font-face{
   font-family: nazi;
   font-weight: 200;
   src: url(../css/fonts/Far_Nazanin.ttf);
 }

 @font-face{
   font-family: nazi;
   font-weight: 400;
   src: url(../css/fonts/Far_NazaninBd.ttf);
 }
 *{
    box-sizing: border-box;
    color: #333;
    font-family: nazi;
    font-weight: 200;
    margin: 0;
    padding: 0;
 }
 
 
 body{
    margin: 0;
    direction: rtl;
 }

 .container{
    width: 100%;
    padding: 0 60px;
    
 }


 .drop_down_icon{
   width: 8px;
   height: 8px;
   background: url(../css/images/icons/drop\ down\ \ \(1\).png) center no-repeat;
   background-size: cover;
   display: inline-block;
   vertical-align: -1px;
   margin-right: 2px;
   cursor: pointer;
 }

 .clearfix{
   clear: both;
 }

 .p_15{
   padding-left: 15px;
   padding-right: 15px;
 }
 ul{
    list-style: none;
    margin: 0;
    padding: 0;
 }

 a{
    text-decoration: none;
 }



 .header{
    width: 100%;
    height: 65px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #bbb;
 }

 .humber_menu{
   background-color: transparent;
   border: none;
   display: none;
   margin: 20px 0;
   outline: none;
   cursor: pointer;
 }

 .header-logo{
    float: right;
    padding-top: 10px;

 }

.header-logo img{
    width: 50px;
    height: auto;
 }

 .header_nav{
    float: right;
    margin-right: 30px;
 }
 .header_nav > li{
    display: inline-block;
    padding: 20px 10px;
    float: right;
    position: relative;
    
 }
 
 .header_nav li span{
   cursor: pointer;
 } 

 .drop_down_menu{
   position: absolute;
   background-color: #fff;
   width: 150px;
   height: auto;
   top: 100%;
   right: 0;
   box-shadow: 0px 2px 3px #777;
   display: none;
 }
 .drop_down .drop_down_menu{
   display: none;

 }
 .drop_down:hover .drop_down_menu{
   display: block;

 }

 
 .drop_down_menu li{
   font-size: 16px;
   padding: 10px;
   

 }
 .drop_down_menu li a{
   display: block;
 }
 .drop_down_menu li:hover{
   background-color: #cdb9b9;
 }


 

 .login_btn{
    background-color: #0080ff;
    color: #fff;
    border: none;
    padding: 3px 5px;
    margin: 20px 0;
    border-radius: 3px;
    cursor: pointer;
    float: left;
 }

 /* page_intro */

 .page_intro{
   background: #29caf2;
   background: linear-gradient(90deg, rgba(41, 202, 242, 1) 0%, rgba(87, 134, 199, 1) 50%, rgba(24, 108, 242, 1) 100%);
   width: 100%;
   height: auto;
   padding: 10px;
 }

 .page_intro_right{
   width: 50%;
   height:auto;
   float: right;
   text-align:right;
   
 }
 .page_intro_right h1{
   color: #fff;
   font-size: 70px;
   font-weight: 400;

 }
 .page_intro_right_btns{
   margin: auto;
   width: 3oopx;
   
   
   
   

 }

 .page_intro_right_btn{
   color: #fff;
   background-color: transparent;
   border: 2px solid #fff;
   width: 120px;
   font-size: 20px;
   padding: 10px ;
   border-radius: 5px;
   margin-top: 30px;
   margin-left: 8px;
 }

 .page_intro_left{
   width: 50%;
   height: auto;
   float: left;
   
   
   
 }

.page_intro_left img{
   width: 100%;
   height: auto;

}


.new_posts h2{
   font-size: 20px;
   font-weight: 400;
   margin: 20px 0;

}



.new_post{
   
   width: 25%;
   height: 300px;
   float: right;
   padding: 15px;
}

.new_post_card{
   
   
   width: 100%;
   height: 335px;
   box-shadow: 0px 1px 5px #bbb;
   background-color: #fff;
   border-radius: 5px 5px 5px 5px;
   
}

.new_post_pic{
   width: 100%;
   height: 250px;
}

.new_post_pic img{
   width: 100%;
   height: 100%;
}

.new_post_body{
   padding: 10px;
}

.new_post_title{
   margin: 0;
   float: right;
   font-weight: 400;
   font-size: 18px;
}
.new_post_price{
   margin: 0;
   float: left;
   color: #777;
   font-size: 14px;
   text-decoration: line-through;
}

.new_post_describtion{
   margin: 0;
   float: right;
   font-size: 16px;

}

.new_post_discount{
   margin: 0;
   float: left;
   font-size: 16px;
}

.home_ad{
   padding-top: 80px;
}

.home_ad_right{
   
   width: 75%;
   height: 300px;
   float: right;
   padding: 15px;
}
.home_ad_right img{
   width: 100%;
   height: 100%;
   border-radius: 3px;
}

.home_ad_left{
   
   width: 25%;
   height: 300px;
   float: left;
   padding: 15px;
}
.home_ad_left img{
   width: 100%;
   height: 100%;
   border-radius: 3px;
}

.most_sales{
   background-color: #d9f1ff;
   padding: 30px 0;
   


}

.most_sales h2{
   
   
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 20px;
}

.most_sales_item{
   float: right;
   width: calc(100% / 3);
   padding: 15px;
   height: 350px;
   border-radius: 5px 5px 5px 5px;
   

}
.why_us{
   padding: 30px 0;
}

.why_us_item{
   width: 25%;
   height: auto;
   
   float: right;
   padding: 15px;
}

.why_us_card{
   width: 100%;
   height: auto;
   
   text-align: center;
}

.why_us_card img{
   width: 40%;
   height: auto;
   margin-bottom: 20px;
   
}

.why_us_card h4{
   font-weight: 400;
   font-size: 18px;
   

}

.why_us_card p{
   font-size: 16px;
   color: #666;

}

/* footer */

.main_footer{
   width: 100%;
   height: auto;
   background-color: #333;
   padding: 20px 0;
}

.main_footer_f_l{
   width: 30%;
   height: auto;
   float: right;
   padding: 15px;

}

.main_footer_card h4{
   font-size: 18px;
   font-weight: 400;
   color: #fff;
   margin-bottom: 10px;
}

.main_footer_card p{
   font-size: 16px;
   font-weight: 200;
   color: #fff;
}

.main_footer_mid{
   width: 20%;
   height: auto;
   float: right;
   padding: 15px;
}

.main_footer_card ul li{
   margin-bottom: 3px;
}

.main_footer_card ul li a{
   
   font-size: 16px;
   font-weight: 200;
   color: #fff;
}


.main_footer_card ul li span{
   
   font-size: 16px;
   font-weight: 200;
   color: #fff;
}

.main_footer_card_namad img{
   width: 100px;
   height: 120px;
}

.footer_line{
   border-color: #7f7f7f;
}
.under_footer{
   text-align: right;
   padding-top: 20px;
}
.under_footer p{
   color: #fff;
   
   font-size: 16px;
   display: inline-block;
}

.footer_social_item{
   float: left;
   

}
.footer_social_item img{
   width: 30px;
   height: auto;
   margin-right: 3px;
   

}




/* single.html */

.breadkrumbs{
   padding: 20px 0;
   background-color: #eee;
}

.breadkrumbs a::after{
   content: '';
   display: inline-block;
   background: url(../css/images/icons/left\ arrow.png)
   width: 10px;
   height: 10px;
}






@media screen and (max-width:1150px){
   .new_post{
      width: 50%;
      margin-bottom:50px;
      
   }
   
      
   
   .container{
      padding: 0 200px;
   }
   .home_ad_left{
      display: none;
   }
   .home_ad_right{
      width: 100%;
   }
   .most_sales_item{
      width: 50%;
   }
   .why_us_item{
      width: 50%;
   }
   
  
   .main_footer_f_l{
      width: 50%;

   } 
   
   .main_footer_mid{
      width: 50%;
   }
   .page_intro_left{
      display:none;
   }
   .page_intro_right{
      width: 100%;
      text-align: center;

   }
   .page_intro_right br{
      display: none;
   }
   .page_intro_right h1{
      text-align: center;
      margin-bottom: 10px;
      font-size: 59px;
   }
   .page_intro_right_btns{
      margin-bottom: 20px;
   }
   

}
      
   
   

@media screen and (max-width:950px){
   .container{
      padding: 0 60px;
   }
  
      
   
   
    
   
}

@media screen and (max-width:650px){
   .new_post{
      width: 100%;
   }
   .most_sales_item{
      width: 100%;
   }
   
   .header nav{
      display: none;
   }
   .header-logo{
      display: none;
   }
   .humber_menu{
      display: inline-block;
   }

   .why_us_item{
      width: 100%;
   }

   .main_footer_f_l{
      width: 100%;

   } 
   
   .main_footer_mid{
      width: 100%;
   }

}
  
     

@media screen and (max-width:400px){
   .container{
      padding: 0 20px;
   }
}



